version: "3.9"

services:
  api:
    build: .
    container_name: fraud_api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    command: uvicorn app.api.main:app --host 0.0.0.0 --port 8000

  ui:
    build: .
    container_name: fraud_ui
    ports:
      - "8501:8501"
    depends_on:
      - api
    command: streamlit run app/ui/dashboard.py --server.port=8501 --server.address=0.0.0.0